# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. Python
    2. SQL
    3. R

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. NumPy
    3. Matplotlib
    4. Seaborn
    5. Scikit-learn
    6. Keras
    7. TensorFlow

| **Data Science Tools** |
|---|
| Jupyter | 
| R-Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 
#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
minutes = 200
hours = minutes / 60
print(minutes, ' minutes is ', hours, ' hours')
#This will convert 200 minutes to hours by diving by 60

200  minutes is  3.3333333333333335  hours

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List Data Science tools
* Examples of evaluating arithmetic expressions in Python

## Author
Aleksandr Balanov